<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utar.uhauction.mapper.ItemMapper">
    <resultMap id="topContributorVO" type="com.utar.uhauction.model.vo.TopContributorVO">
        <result column="alias" property="alias"/>
        <result column="amount" property="amount"/>
    </resultMap>
    <resultMap id="trendCategoryVO" type="com.utar.uhauction.model.vo.TrendCategoryVO">
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
    </resultMap>
    <resultMap id="bidVO" type="com.utar.uhauction.model.vo.BidVO">
        <result column="maxAmount" property="amount"/>
        <result column="itemId" property="itemId"/>
        <result column="userId" property="userId"/>
    </resultMap>
    <resultMap id="fundMonthVO" type="com.utar.uhauction.model.vo.FundMonthVO">
        <result column="month" property="month"/>
        <result column="amount" property="amount"/>
    </resultMap>
    <resultMap id="itemVO" type="com.utar.uhauction.model.vo.ItemVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="donor_id" property="donorId"/>
        <result column="comments" property="comments"/>
        <result column="view" property="view"/>
        <result column="collects" property="collects"/>
        <result column="top" property="top"/>
        <result column="essence" property="essence"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="end_time" property="endTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
        <result column="cover" property="cover"/>
        <result column="bid_count" property="bidCount"/>
        <result column="is_end" property="isEnd"/>
        <result column="pay_link" property="payLink"/>
        <result column="highest_bid" property="highestBid"/>
        <result column="is_pay" property="isPay"/>
        <result column="address" property="address"/>
        <result column="is_notify" property="isNotify"/>
        <result column="winner_id" property="winnerId"/>
    </resultMap>

    <select id="selectItemByMonth" resultMap="fundMonthVO">
        select month(create_time) as month, count(*) as amount
        from item
        group by (month(create_time));
    </select>

    <select id="trendCategory" resultMap="trendCategoryVO">
        SELECT COUNT(*) AS amount, c.name
        FROM bid b
                 JOIN item_tag i ON b.item_id = i.item_id
                 JOIN category c ON i.tag_id = c.id
        WHERE MONTH(bid_time) = MONTH(CURRENT_DATE()) - 1
        GROUP BY c.name
        ORDER BY amount DESC;
    </select>

    <select id="selectTopBidder" resultMap="topContributorVO">
        SELECT
            alias,sum(highest_bid) as amount
        FROM item i
        JOIN ums_user u
        ON u.id = i.winner_id
        GROUP BY i.winner_id
        ORDER BY amount DESC;
    </select>

    <select id="selectTopDonor" resultMap="topContributorVO">
        SELECT
            alias, count(*) as amount
        FROM item i
        JOIN ums_user u
        ON u.id=i.donor_id
        GROUP BY donor_id
        ORDER BY amount desc;
    </select>

    <select id="selectFundByMonth" resultMap="fundMonthVO">
    <![CDATA[
        SELECT
            MONTH(end_time) AS month,
            SUM(highest_bid) AS amount
        FROM item
        WHERE YEAR(end_time) = YEAR(CURRENT_DATE())
          AND end_time < CURRENT_DATE()
        GROUP BY MONTH(end_time)
        ORDER BY month;
        ]]>
</select>


    <select id="selectListAndPage" resultMap="itemVO">
        SELECT
        t.id,t.title,t.donor_id,t.comments,t.pay_link,t.is_pay,
        t.view,t.collects,t.top,t.essence,t.is_end, t.bid_count,
        t.create_time ,t.modify_time ,t.end_time,t.highest_bid,t.address,
        t.is_notify,t.winner_id,t.cover,
        u.username,u.alias, u.avatar
        FROM item t
        LEFT JOIN ums_user u
        ON t.donor_id = u.id
        <where>
            <if test="tab == 'hot'">
                date(t.create_time) &lt;= date_add(curdate(), interval 1 day)
                and date(t.create_time) &gt;= date_sub(curdate(), interval 7 day)
            </if>
        </where>
        <if test="tab != 'hot'">
            order by t.create_time desc
        </if>
        <if test="tab == 'hot'">
            order by t.view desc, t.create_time desc
        </if>
    </select>

    <select id="selectRecommend" resultType="com.utar.uhauction.model.entity.Item">
        select *
        from item t
        where t.id != #{id}
        order by rand(), t.view
        limit 10
    </select>


    <select id="selectHighestBid" parameterType="java.lang.String" resultMap="bidVO">
        SELECT b.amount AS maxAmount, b.item_id as itemId, b.user_id as userId
        FROM bid b
                 JOIN (
            SELECT MAX(amount) AS max_amount, item_id
            FROM bid
            GROUP BY item_id
        ) max_bid
                      ON b.item_id = max_bid.item_id AND b.amount = max_bid.max_amount
        WHERE b.item_id = #{id}
        ORDER BY b.bid_time ASC -- Order by bid_time in ascending order
        LIMIT 1; -- Limit the result to one row;
    </select>




    <select id="searchByKey" resultMap="itemVO">
        SELECT t.id,
        t.title,
        t.address,
        t.donor_id,
        t.bid_count,
        t.cover,
        t.comments,
        t.view,
        t.collects,
        t.top,
        t.essence,
        t.create_time,
        t.end_time,
        t.highest_bid,
        t.modify_time,
        t.is_end,
        t.is_pay,
        t.pay_link,
        u.username,
        u.alias,
        u.avatar
        FROM item t
        LEFT JOIN ums_user u
        ON t.donor_id = u.id
        <where>
            <if test="keyword!=null">
                and t.title like CONCAT('%','${keyword}')
                or t.title like CONCAT('${keyword}','%')
                or t.title like CONCAT('%','${keyword}','%')
                or t.title = #{keyword}
            </if>
        </where>
        order by t.view desc, t.create_time desc
    </select>
</mapper>
